<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>__tests__</directory>
    </testsuite>
  </testsuites>
  <coverage includeUncoveredFiles="true" pathCoverage="true">
    <report>
      <html outputDirectory="coverage_report" lowUpperBound="50" highLowerBound="90"/>
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/index.php</file>
      <file>src/Container.php</file>
    </exclude>
  </source>
</phpunit> 